

.footballGround{
    justify-content: center;
    width: fit-content;
    margin: auto;
    border-width: 5px;
    border-style: solid;
    width: 500px;
    background-image: url("https://i.pinimg.com/originals/5a/1d/70/5a1d70b69472332ca2021b5699d32637.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 700px;
    display: inline-block;
}

.title {
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
    border-width: 5px;
    border-style: solid;
}
.attacker{
    margin-left: 8%;
    margin-right: 10%;
    margin-top: 15%;
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between; /* switched from default (flex-start, see below) */
    
  
}
.midFilder{
    margin-top: 3%;
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between; /* switched from default (flex-start, see below) */

    
}
.defender{
    margin-left: -6%;
    margin-right: 7%;
    margin-top: 5%;
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between;

}
.goalKeeper{
    margin-left: 1%;
    margin-top: -5%;
}

.choosePlayer{
    max-height: 20px;
    max-width: 20px;
    border-radius: 50%;
}


.addImage{
    height:100px;
    width: 100px;
    border-radius: 50%;
    background-color: transparent;
}
.choosePlayerButton{
    border-radius: 50%;
    background-color: transparent;
    border-style: hidden;
}

.choosePlayerButton:active {
    opacity: 0.5;
}
.searchSideBar{
    padding: 5px;
    width: 420px;
    border-width: 5px;
    border-style: solid;
    display: inline-block;
    margin-right:5px;
}
.flexParent{
    display: inline-block;
    display:flex;
    height: 90vh;
    flex-wrap: wrap;
    width: 100%;
    justify-content:  center;
}
.searchResults{
    margin: 5px;
    width: 30%;
    margin-left:30%;
    display: center;
}
.imageResult{
    margin-top:5px;
    height: 60px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;

}
.playerName{
    border-width: 5px;
    border-style: solid;
}
.choosePlayer{
    background-color: transparent;

}

.details{
    width: fit-content;
    margin: auto;
    border-style: solid;
    border-width: 3px;
    background-color:gainsboro;
}
.hidden{
    display: none;
  }
.welcomePage{
    border-style: solid;
    border-width: 3px;
    border: none;
    opacity: 0.9;
  }
  
.signinForm{
  justify-content: center;
    width: fit-content;
    margin: auto;
    width: 500px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 700px;
  display: center;
  }

.signupForm{
  padding: 16px;
  margin-top:50px;
  margin-left: 550px;
  justify-content: center;
    width: fit-content;
    margin: auto;
    width: 500px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 700px;
  display: center;
  }
  
.avatar{
  height: auto;
  width: 90%;
}
* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #2aa39d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #e4685ffc;
}
.cancelbtnn{
  padding: 14px 20px;
  background-color: #e4685ffc;
  width: 30%;
  display: inline;
}
.serachbtnn{
  padding: 14px 20px;
  background-color: #2aa39d;
  width: 70%;
  display: inline;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}


/* Add padding to container elements */
.container {
  padding: 16px;
  
}


/* Clear floats */
.signbtn::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

