

.footballGround{
    justify-content: center;
    width: fit-content;
    margin: auto;
    border-width: 5px;
    border-style: solid;
    width: 500px;
    background-image: url("https://i.pinimg.com/originals/5a/1d/70/5a1d70b69472332ca2021b5699d32637.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 700px;
    display: inline-block;
}

.title {
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
    border-width: 5px;
    border-style: solid;
}
.attacker{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%;
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between; /* switched from default (flex-start, see below) */
    
  
}
.midFilder{
    margin-top: 10%;
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between; /* switched from default (flex-start, see below) */

    
}
.defender{
    margin-left: 4%;
    margin-right: 7%;
    margin-top: 9%;
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between;

}
.goalKeeper{
    margin-left: 38%;
    margin-top: 10%;
}

.choosePlayer{
    max-height: 20px;
    max-width: 20px;
    border-radius: 50%;
}


.addImage{
    height:100px;
    width: 100px;
    border-radius: 50%;
    background-color: transparent;
}
.choosePlayerButton{
    border-radius: 50%;
    background-color: transparent;
    border-style: hidden;
}

.choosePlayerButton:active {
    opacity: 0.5;
}
.searchSideBar{
    padding: 5px;
    width: 420px;
    border-width: 5px;
    border-style: solid;
    display: inline-block;
    margin-right:5px;
}
.flexParent{
    display: inline-block;
    display:flex;
    height: 90vh;
    flex-wrap: wrap;
    width: 100%;
}
.searchResults{
    margin: 5px;
    width: 30%;
    margin-left:30%;
    display: center;
}
.imageResult{
    margin-top:5px;
    height: 60px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;

}
.playerName{
    border-width: 5px;
    border-style: solid;
}
.choosePlayer{
    background-color: transparent;

}

.details{
    width: fit-content;
    margin: auto;
    border-style: solid;
    border-width: 3px;
    background-color:gainsboro;
}
